<configuration>

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} |%-5level| %logger{15}: %message%n%xException</pattern>
    </encoder>
  </appender>


  <!--
    The logger name is typically the Java/Scala package name.
    This configures the log level to log at for a package and its children packages.
  -->
  
  <logger name="akka" level="INFO" />
  <logger name="play" level="INFO" />
  <logger name="application"  level="DEBUG" />

  <logger name="com.galacticfog" level="DEBUG"/>
  <logger name="javax" level="ERROR"/>
  <logger name="controllers" level="INFO"/>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <root level="WARN">
    <appender-ref ref="ASYNCFILE" />
    <appender-ref ref="ASYNCSTDOUT" />
  </root>

</configuration>
